# Created by .ignore support plugin (hsz.mobi)
.DS_Store
lem_in
cmake-build-debug
lib/my/libmy.a
lib/my/obj
solver/obj
generator/obj
CMakeLists.txt
*.o
.idea
*.dSYM
test.txt
generator/generator
solver/solver
/obj
